.imgOfSection1{
    width: 100%;
    height: auto;
    position: absolute;
    filter: brightness(0.4);
}
.Container{
    position: relative;
    color: white;
}
.container1{
    position: relative;
    color: white;
    margin-left: 50rem;
    margin-top: -12rem;
}
.container1 .firstOne{
    display: flex;
    align-items: center;
}
.container1 .secondtOne{
    display: flex;
    align-items: center;
}
.Container h1{
    margin-left: 10rem;
    padding-top: 5rem;
    font-size: 45px;
}
.Container h3{
    margin-left: 10rem;
    font-weight: 300;
}
.S1{
    margin-left: 5rem;
}
.S2{
    margin-left: 8.5rem;
    font-size: 40px;
}
.span{
    margin-left: 7px;
    font-size: 14px;
}